
{% extends "layout.html" %}

{% block content %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
  Clientes
</div>
{% from '_macros.html' import render_field %}
{% from '_macros.html' import render_submit %}
{% from '_macros.html' import render_textarea %}


<div class="row ">
    <div class="col-12">
        <div class="form-group">          
          <div class="card bg-default">
            <div  class="card-header text-light " style=' background-color:black;'>
              <h5 class="w-50 float-left">
                Registro cliente
              </h5>
            
            </div>
            <div class="card-body">
                <form action="/clientes/registrocliente" method="POST" class="form-horizontal bordered" name="form1" >          
                    <div class="modal-body">
                            {{ cl_form.csrf_token }}
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            {{ render_field(cl_form.nombre,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.apaterno,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.amaterno,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.numero,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.calle,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.colonia,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.cp,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(cl_form.telefono,class='form-control', fontawesome='fa fa-hashtag') }}
                            {{ render_field(cl_form.email,class='form-control', fontawesome='fa fa-email') }}
                            {{ render_field(cl_form.password,class='form-control', fontawesome='fa fa-email') }}
        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        {{ render_submit(cl_form.enviar, class="btn btn-primary") }}
                        </button>
                    </div>
                </form>
                
            </div>
            <div class="card-footer">
              Sabes
            </div>
          </div>


           
        </div>
        <div class="form-group">
        
        </div>
    </div>
</div>


{% endblock%}