{% extends "layout.html" %}

{% block content %} 
{% from '_macros.html' import render_fieldEditar %}
{% from '_macros.html' import render_field %}
{% from '_macros.html' import render_submit %}
{% from '_macros.html' import render_textarea %}

{% from '_macros.html' import render_fieldEditar %}
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><center><h4><strong>Modificar Rol</strong></h4></center></div>
            <div class="card-body">
                <form action="{{url_for('roles.update', id=rolesEdit.id)}}" method="POST" class="form-horizontal bordered" name="form2" >          
                    <div class="modal-body">
                            {{ role_form_e.csrf_token }}
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            {{ render_fieldEditar(role_form_e.name_e,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_textarea(role_form_e.description_e,class='form-control')}}
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" href="{{url_for('roles.listarol')}}">Cancelar</a>
                        {{ render_submit(role_form_e.editar, class="btn btn-primary") }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}