
{% extends "layout.html" %}

{% block content %}

{% from '_macros.html' import render_field %}
{% from '_macros.html' import render_submit %}
{% from '_macros.html' import render_textarea %}
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><center><h4><strong>Modificar Producto</strong></h4></center></div>
            <div class="card-body">
                <form action="{{url_for('productos.update_post', id=p.id)}}" method="POST" class="form-horizontal bordered" name="form1" >          
                    <div class="modal-body">
                            {{ pro_form.csrf_token }}
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            {{ render_field(pro_form.nombre,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(pro_form.descripcion,class='form-control', fontawesome='fa fa-users') }}
                            {{ render_field(pro_form.precio,class='form-control', fontawesome='fa fa-users') }}
        
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" href="{{url_for('productos.listapr')}}">Cancelar</a>
                        {{ render_submit(pro_form.enviar, class="btn btn-primary") }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>

{% endblock%}